<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Room</title>
</head>
<body>
    <h1>Create Room</h1>
    <form action="/createRoom" method="POST">
        <!-- Inputs for numbers (total_occupancy, etc.) -->
        <% for(let p of numParams) { %>
            <div>
                <label for=<%-p%>>Enter <%-p.split("_").join(" ")%>:</label>
                <input type="number" name=<%-p%> id=<%-p%> min=0 max=10 />
            </div>
        <% }%>
        <!-- Inputs for text (name, summary, etc.) -->
        <% for(let p of textParams) { %>
            <div>
                <label for=<%-p%>>Enter <%-p.split("_").join(" ")%>:</label>
                <textarea name=<%-p%> id=<%-p%> maxLength="50"/></textarea>
            </div>
        <% }%>
      <button>Submit</button>
    </form>
    <a href="/"/>Home</a>
</body>
</html>