<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room Details</title>
  </head>
  <body>
    <h1><%-room["name"]%> details:</h1>
    <% for(item in room) { %>
        <%if(!item.includes("id")) {%>
        <div>
            <%-item.split("_").map((el) => el.charAt(0).toUpperCase() + el.slice(1)).join(" ")%>: <%-room[item]%>
        </div>
    <% } } %>
    <% if(room.owner_id === user_id) {%>
      <form action=<%-`/rooms/${room["id"]}?_method=DELETE`%> method="POST">
        <button>DELETE ROOM</button>
      </form>
    <%} else {%>
      <a href=<%-`/rooms/${room["id"]}/createReservation`%>>Make Reservation</a>
    <%}%>
    
    <a href="/"/>Home</a>
  </body>
</html>
